@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: "Roboto Condensed", sans;
}
.outer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.outer > .dirsContainer {
  flex: 1 1;
  max-width: 20rem;
  padding-top: 1rem;
}

.dir {
  margin-bottom: 1rem;
  height: 2rem;
  text-align: right;
  padding-right: 4rem;
}

.outer > .filesContainer {
  flex: 1 0;
}

.songPage .fname {
  font-size: 3rem;
}
.songPage img {
  margin-top: 1rem;
  max-height: 30rem;
  max-width: 30rem;
  object-fit: cover;
}
.songPage audio {
  width: 100%;
  max-width: 30rem;
}
.songPage .childList {
  margin-top: 2rem;
}
.songPage .childList div label input {
  margin-right: 0.5rem;
}

.songRow {
  display: grid;
  grid-template-columns: 10rem auto; 
  gap: 2rem;
  min-height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.songRow .coverouter {
  background-color: #eee;
}
.songRow img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}
.songRow .metaplayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.songRow .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.songRow .meta p {
  text-align: right;
}
.songRow .meta p,
.songRow .meta h2 {
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.songRow .meta h2 {
  font-size: 2.5rem;
}
.songRow .fname {
  opacity: 0.75;
  white-space: nowrap;
}
.songRow .mtime {
  opacity: 0.5;
  white-space: nowrap;
  font-size: 80%;
}
.songRow audio {
  width: 100%;
}
.songRow .children {
  display: none;
}